AO-war/web/WEB-INF/wsdl/localhost_8080/WebServiceSTF/WebServiceSTF.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService/" name="WebServiceSTF">
<types>
<xsd:schema>
<xsd:import namespace="http://webService/" schemaLocation="http://localhost:8080/WebServiceSTF/WebServiceSTF?xsd=1"/>
</xsd:schema>
</types>
<message name="RechercherGareParNom">
<part name="parameters" element="tns:RechercherGareParNom"/>
</message>
<message name="RechercherGareParNomResponse">
<part name="parameters" element="tns:RechercherGareParNomResponse"/>
</message>
<message name="RetournerLignesSTF">
<part name="parameters" element="tns:RetournerLignesSTF"/>
</message>
<message name="RetournerLignesSTFResponse">
<part name="parameters" element="tns:RetournerLignesSTFResponse"/>
</message>
<message name="RetournerDistanceGareParLigne">
<part name="parameters" element="tns:RetournerDistanceGareParLigne"/>
</message>
<message name="RetournerDistanceGareParLigneResponse">
<part name="parameters" element="tns:RetournerDistanceGareParLigneResponse"/>
</message>
<message name="RetournerDistanceGareParGare">
<part name="parameters" element="tns:RetournerDistanceGareParGare"/>
</message>
<message name="RetournerDistanceGareParGareResponse">
<part name="parameters" element="tns:RetournerDistanceGareParGareResponse"/>
</message>
<message name="RechercherLigneSTFParId">
<part name="parameters" element="tns:RechercherLigneSTFParId"/>
</message>
<message name="RechercherLigneSTFParIdResponse">
<part name="parameters" element="tns:RechercherLigneSTFParIdResponse"/>
</message>
<message name="InvokeLigneSTF">
<part name="parameters" element="tns:InvokeLigneSTF"/>
</message>
<message name="InvokeLigneSTFResponse">
<part name="parameters" element="tns:InvokeLigneSTFResponse"/>
</message>
<message name="InvokeDistanceGare">
<part name="parameters" element="tns:InvokeDistanceGare"/>
</message>
<message name="InvokeDistanceGareResponse">
<part name="parameters" element="tns:InvokeDistanceGareResponse"/>
</message>
<message name="InvokePrix_Kilometre">
<part name="parameters" element="tns:InvokePrix_Kilometre"/>
</message>
<message name="InvokePrix_KilometreResponse">
<part name="parameters" element="tns:InvokePrix_KilometreResponse"/>
</message>
<message name="GetPrixilometre">
<part name="parameters" element="tns:GetPrixilometre"/>
</message>
<message name="GetPrixilometreResponse">
<part name="parameters" element="tns:GetPrixilometreResponse"/>
</message>
<message name="InvokeAbonnement">
<part name="parameters" element="tns:InvokeAbonnement"/>
</message>
<message name="InvokeAbonnementResponse">
<part name="parameters" element="tns:InvokeAbonnementResponse"/>
</message>
<message name="RetournerAbonnementSTF">
<part name="parameters" element="tns:RetournerAbonnementSTF"/>
</message>
<message name="RetournerAbonnementSTFResponse">
<part name="parameters" element="tns:RetournerAbonnementSTFResponse"/>
</message>
<message name="RetournerGaresSTF">
<part name="parameters" element="tns:RetournerGaresSTF"/>
</message>
<message name="RetournerGaresSTFResponse">
<part name="parameters" element="tns:RetournerGaresSTFResponse"/>
</message>
<message name="RechercherHoraireSTFParLigne">
<part name="parameters" element="tns:RechercherHoraireSTFParLigne"/>
</message>
<message name="RechercherHoraireSTFParLigneResponse">
<part name="parameters" element="tns:RechercherHoraireSTFParLigneResponse"/>
</message>
<message name="RechercherLigneSTFParNum">
<part name="parameters" element="tns:RechercherLigneSTFParNum"/>
</message>
<message name="RechercherLigneSTFParNumResponse">
<part name="parameters" element="tns:RechercherLigneSTFParNumResponse"/>
</message>
<message name="RetournerDistanceLigneGare">
<part name="parameters" element="tns:RetournerDistanceLigneGare"/>
</message>
<message name="RetournerDistanceLigneGareResponse">
<part name="parameters" element="tns:RetournerDistanceLigneGareResponse"/>
</message>
<message name="InvokeHoraire">
<part name="parameters" element="tns:InvokeHoraire"/>
</message>
<message name="InvokeHoraireResponse">
<part name="parameters" element="tns:InvokeHoraireResponse"/>
</message>
<message name="InvokeGare">
<part name="parameters" element="tns:InvokeGare"/>
</message>
<message name="InvokeGareResponse">
<part name="parameters" element="tns:InvokeGareResponse"/>
</message>
<portType name="WebServiceSTF">
<operation name="RechercherGareParNom">
<input wsam:Action="http://webService/WebServiceSTF/RechercherGareParNomRequest" message="tns:RechercherGareParNom"/>
<output wsam:Action="http://webService/WebServiceSTF/RechercherGareParNomResponse" message="tns:RechercherGareParNomResponse"/>
</operation>
<operation name="RetournerLignesSTF">
<input wsam:Action="http://webService/WebServiceSTF/RetournerLignesSTFRequest" message="tns:RetournerLignesSTF"/>
<output wsam:Action="http://webService/WebServiceSTF/RetournerLignesSTFResponse" message="tns:RetournerLignesSTFResponse"/>
</operation>
<operation name="RetournerDistanceGareParLigne">
<input wsam:Action="http://webService/WebServiceSTF/RetournerDistanceGareParLigneRequest" message="tns:RetournerDistanceGareParLigne"/>
<output wsam:Action="http://webService/WebServiceSTF/RetournerDistanceGareParLigneResponse" message="tns:RetournerDistanceGareParLigneResponse"/>
</operation>
<operation name="RetournerDistanceGareParGare">
<input wsam:Action="http://webService/WebServiceSTF/RetournerDistanceGareParGareRequest" message="tns:RetournerDistanceGareParGare"/>
<output wsam:Action="http://webService/WebServiceSTF/RetournerDistanceGareParGareResponse" message="tns:RetournerDistanceGareParGareResponse"/>
</operation>
<operation name="RechercherLigneSTFParId">
<input wsam:Action="http://webService/WebServiceSTF/RechercherLigneSTFParIdRequest" message="tns:RechercherLigneSTFParId"/>
<output wsam:Action="http://webService/WebServiceSTF/RechercherLigneSTFParIdResponse" message="tns:RechercherLigneSTFParIdResponse"/>
</operation>
<operation name="InvokeLigneSTF">
<input wsam:Action="http://webService/WebServiceSTF/InvokeLigneSTFRequest" message="tns:InvokeLigneSTF"/>
<output wsam:Action="http://webService/WebServiceSTF/InvokeLigneSTFResponse" message="tns:InvokeLigneSTFResponse"/>
</operation>
<operation name="InvokeDistanceGare">
<input wsam:Action="http://webService/WebServiceSTF/InvokeDistanceGareRequest" message="tns:InvokeDistanceGare"/>
<output wsam:Action="http://webService/WebServiceSTF/InvokeDistanceGareResponse" message="tns:InvokeDistanceGareResponse"/>
</operation>
<operation name="InvokePrix_Kilometre">
<input wsam:Action="http://webService/WebServiceSTF/InvokePrix_KilometreRequest" message="tns:InvokePrix_Kilometre"/>
<output wsam:Action="http://webService/WebServiceSTF/InvokePrix_KilometreResponse" message="tns:InvokePrix_KilometreResponse"/>
</operation>
<operation name="GetPrixilometre">
<input wsam:Action="http://webService/WebServiceSTF/GetPrixilometreRequest" message="tns:GetPrixilometre"/>
<output wsam:Action="http://webService/WebServiceSTF/GetPrixilometreResponse" message="tns:GetPrixilometreResponse"/>
</operation>
<operation name="InvokeAbonnement">
<input wsam:Action="http://webService/WebServiceSTF/InvokeAbonnementRequest" message="tns:InvokeAbonnement"/>
<output wsam:Action="http://webService/WebServiceSTF/InvokeAbonnementResponse" message="tns:InvokeAbonnementResponse"/>
</operation>
<operation name="RetournerAbonnementSTF">
<input wsam:Action="http://webService/WebServiceSTF/RetournerAbonnementSTFRequest" message="tns:RetournerAbonnementSTF"/>
<output wsam:Action="http://webService/WebServiceSTF/RetournerAbonnementSTFResponse" message="tns:RetournerAbonnementSTFResponse"/>
</operation>
<operation name="RetournerGaresSTF">
<input wsam:Action="http://webService/WebServiceSTF/RetournerGaresSTFRequest" message="tns:RetournerGaresSTF"/>
<output wsam:Action="http://webService/WebServiceSTF/RetournerGaresSTFResponse" message="tns:RetournerGaresSTFResponse"/>
</operation>
<operation name="RechercherHoraireSTFParLigne">
<input wsam:Action="http://webService/WebServiceSTF/RechercherHoraireSTFParLigneRequest" message="tns:RechercherHoraireSTFParLigne"/>
<output wsam:Action="http://webService/WebServiceSTF/RechercherHoraireSTFParLigneResponse" message="tns:RechercherHoraireSTFParLigneResponse"/>
</operation>
<operation name="RechercherLigneSTFParNum">
<input wsam:Action="http://webService/WebServiceSTF/RechercherLigneSTFParNumRequest" message="tns:RechercherLigneSTFParNum"/>
<output wsam:Action="http://webService/WebServiceSTF/RechercherLigneSTFParNumResponse" message="tns:RechercherLigneSTFParNumResponse"/>
</operation>
<operation name="RetournerDistanceLigneGare">
<input wsam:Action="http://webService/WebServiceSTF/RetournerDistanceLigneGareRequest" message="tns:RetournerDistanceLigneGare"/>
<output wsam:Action="http://webService/WebServiceSTF/RetournerDistanceLigneGareResponse" message="tns:RetournerDistanceLigneGareResponse"/>
</operation>
<operation name="InvokeHoraire">
<input wsam:Action="http://webService/WebServiceSTF/InvokeHoraireRequest" message="tns:InvokeHoraire"/>
<output wsam:Action="http://webService/WebServiceSTF/InvokeHoraireResponse" message="tns:InvokeHoraireResponse"/>
</operation>
<operation name="InvokeGare">
<input wsam:Action="http://webService/WebServiceSTF/InvokeGareRequest" message="tns:InvokeGare"/>
<output wsam:Action="http://webService/WebServiceSTF/InvokeGareResponse" message="tns:InvokeGareResponse"/>
</operation>
</portType>
<binding name="WebServiceSTFPortBinding" type="tns:WebServiceSTF">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="RechercherGareParNom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RetournerLignesSTF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RetournerDistanceGareParLigne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RetournerDistanceGareParGare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RechercherLigneSTFParId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InvokeLigneSTF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InvokeDistanceGare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InvokePrix_Kilometre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetPrixilometre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InvokeAbonnement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RetournerAbonnementSTF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RetournerGaresSTF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RechercherHoraireSTFParLigne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RechercherLigneSTFParNum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RetournerDistanceLigneGare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InvokeHoraire">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InvokeGare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceSTF">
<port name="WebServiceSTFPort" binding="tns:WebServiceSTFPortBinding">
<soap:address location="http://localhost:8080/WebServiceSTF/WebServiceSTF"/>
</port>
</service>
</definitions>