AO-war/web/WEB-INF/wsdl/localhost_8080/webServiceSTR/WebServicesSTR.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService/" name="webServiceSTR">
<types>
<xsd:schema>
<xsd:import namespace="http://webService/" schemaLocation="http://localhost:8080/webServiceSTR/WebServicesSTR?xsd=1"/>
</xsd:schema>
</types>
<message name="InvokeTrajet">
<part name="parameters" element="tns:InvokeTrajet"/>
</message>
<message name="InvokeTrajetResponse">
<part name="parameters" element="tns:InvokeTrajetResponse"/>
</message>
<message name="InvokeLigne">
<part name="parameters" element="tns:InvokeLigne"/>
</message>
<message name="InvokeLigneResponse">
<part name="parameters" element="tns:InvokeLigneResponse"/>
</message>
<message name="RechercheTrajetParLigne">
<part name="parameters" element="tns:RechercheTrajetParLigne"/>
</message>
<message name="RechercheTrajetParLigneResponse">
<part name="parameters" element="tns:RechercheTrajetParLigneResponse"/>
</message>
<message name="TarifBaseParArrets">
<part name="parameters" element="tns:TarifBaseParArrets"/>
</message>
<message name="TarifBaseParArretsResponse">
<part name="parameters" element="tns:TarifBaseParArretsResponse"/>
</message>
<message name="TarifMensuelParArrets">
<part name="parameters" element="tns:TarifMensuelParArrets"/>
</message>
<message name="TarifMensuelParArretsResponse">
<part name="parameters" element="tns:TarifMensuelParArretsResponse"/>
</message>
<message name="TarifHebdomadaireParArrets">
<part name="parameters" element="tns:TarifHebdomadaireParArrets"/>
</message>
<message name="TarifHebdomadaireParArretsResponse">
<part name="parameters" element="tns:TarifHebdomadaireParArretsResponse"/>
</message>
<message name="RechercheLigneParId">
<part name="parameters" element="tns:RechercheLigneParId"/>
</message>
<message name="RechercheLigneParIdResponse">
<part name="parameters" element="tns:RechercheLigneParIdResponse"/>
</message>
<message name="afficherListeReductions">
<part name="parameters" element="tns:afficherListeReductions"/>
</message>
<message name="afficherListeReductionsResponse">
<part name="parameters" element="tns:afficherListeReductionsResponse"/>
</message>
<message name="RecherchePositionParLigne">
<part name="parameters" element="tns:RecherchePositionParLigne"/>
</message>
<message name="RecherchePositionParLigneResponse">
<part name="parameters" element="tns:RecherchePositionParLigneResponse"/>
</message>
<message name="RechercheFicheHoraireParLignePeriode">
<part name="parameters" element="tns:RechercheFicheHoraireParLignePeriode"/>
</message>
<message name="RechercheFicheHoraireParLignePeriodeResponse">
<part name="parameters" element="tns:RechercheFicheHoraireParLignePeriodeResponse"/>
</message>
<message name="RecherchePlagesHorairesParFicheHoraire">
<part name="parameters" element="tns:RecherchePlagesHorairesParFicheHoraire"/>
</message>
<message name="RecherchePlagesHorairesParFicheHoraireResponse">
<part name="parameters" element="tns:RecherchePlagesHorairesParFicheHoraireResponse"/>
</message>
<message name="RechercheLigneSTRParIdentifiant">
<part name="parameters" element="tns:RechercheLigneSTRParIdentifiant"/>
</message>
<message name="RechercheLigneSTRParIdentifiantResponse">
<part name="parameters" element="tns:RechercheLigneSTRParIdentifiantResponse"/>
</message>
<message name="listeLignesSTR">
<part name="parameters" element="tns:listeLignesSTR"/>
</message>
<message name="listeLignesSTRResponse">
<part name="parameters" element="tns:listeLignesSTRResponse"/>
</message>
<message name="InvokePositionArretLigne">
<part name="parameters" element="tns:InvokePositionArretLigne"/>
</message>
<message name="InvokePositionArretLigneResponse">
<part name="parameters" element="tns:InvokePositionArretLigneResponse"/>
</message>
<message name="InvokePlageHoraire">
<part name="parameters" element="tns:InvokePlageHoraire"/>
</message>
<message name="InvokePlageHoraireResponse">
<part name="parameters" element="tns:InvokePlageHoraireResponse"/>
</message>
<message name="InvokeFicheHoraire">
<part name="parameters" element="tns:InvokeFicheHoraire"/>
</message>
<message name="InvokeFicheHoraireResponse">
<part name="parameters" element="tns:InvokeFicheHoraireResponse"/>
</message>
<message name="InvokeReduction">
<part name="parameters" element="tns:InvokeReduction"/>
</message>
<message name="InvokeReductionResponse">
<part name="parameters" element="tns:InvokeReductionResponse"/>
</message>
<message name="RechercheTrajetParLigneID">
<part name="parameters" element="tns:RechercheTrajetParLigneID"/>
</message>
<message name="RechercheTrajetParLigneIDResponse">
<part name="parameters" element="tns:RechercheTrajetParLigneIDResponse"/>
</message>
<message name="afficherListeArretsSTR">
<part name="parameters" element="tns:afficherListeArretsSTR"/>
</message>
<message name="afficherListeArretsSTRResponse">
<part name="parameters" element="tns:afficherListeArretsSTRResponse"/>
</message>
<message name="RecherchePositionSTRParArret">
<part name="parameters" element="tns:RecherchePositionSTRParArret"/>
</message>
<message name="RecherchePositionSTRParArretResponse">
<part name="parameters" element="tns:RecherchePositionSTRParArretResponse"/>
</message>
<message name="RechercheArretSTRParNom">
<part name="parameters" element="tns:RechercheArretSTRParNom"/>
</message>
<message name="RechercheArretSTRParNomResponse">
<part name="parameters" element="tns:RechercheArretSTRParNomResponse"/>
</message>
<portType name="WebServicesSTR">
<operation name="InvokeTrajet">
<input wsam:Action="http://webService/WebServicesSTR/InvokeTrajetRequest" message="tns:InvokeTrajet"/>
<output wsam:Action="http://webService/WebServicesSTR/InvokeTrajetResponse" message="tns:InvokeTrajetResponse"/>
</operation>
<operation name="InvokeLigne">
<input wsam:Action="http://webService/WebServicesSTR/InvokeLigneRequest" message="tns:InvokeLigne"/>
<output wsam:Action="http://webService/WebServicesSTR/InvokeLigneResponse" message="tns:InvokeLigneResponse"/>
</operation>
<operation name="RechercheTrajetParLigne">
<input wsam:Action="http://webService/WebServicesSTR/RechercheTrajetParLigneRequest" message="tns:RechercheTrajetParLigne"/>
<output wsam:Action="http://webService/WebServicesSTR/RechercheTrajetParLigneResponse" message="tns:RechercheTrajetParLigneResponse"/>
</operation>
<operation name="TarifBaseParArrets">
<input wsam:Action="http://webService/WebServicesSTR/TarifBaseParArretsRequest" message="tns:TarifBaseParArrets"/>
<output wsam:Action="http://webService/WebServicesSTR/TarifBaseParArretsResponse" message="tns:TarifBaseParArretsResponse"/>
</operation>
<operation name="TarifMensuelParArrets">
<input wsam:Action="http://webService/WebServicesSTR/TarifMensuelParArretsRequest" message="tns:TarifMensuelParArrets"/>
<output wsam:Action="http://webService/WebServicesSTR/TarifMensuelParArretsResponse" message="tns:TarifMensuelParArretsResponse"/>
</operation>
<operation name="TarifHebdomadaireParArrets">
<input wsam:Action="http://webService/WebServicesSTR/TarifHebdomadaireParArretsRequest" message="tns:TarifHebdomadaireParArrets"/>
<output wsam:Action="http://webService/WebServicesSTR/TarifHebdomadaireParArretsResponse" message="tns:TarifHebdomadaireParArretsResponse"/>
</operation>
<operation name="RechercheLigneParId">
<input wsam:Action="http://webService/WebServicesSTR/RechercheLigneParIdRequest" message="tns:RechercheLigneParId"/>
<output wsam:Action="http://webService/WebServicesSTR/RechercheLigneParIdResponse" message="tns:RechercheLigneParIdResponse"/>
</operation>
<operation name="afficherListeReductions">
<input wsam:Action="http://webService/WebServicesSTR/afficherListeReductionsRequest" message="tns:afficherListeReductions"/>
<output wsam:Action="http://webService/WebServicesSTR/afficherListeReductionsResponse" message="tns:afficherListeReductionsResponse"/>
</operation>
<operation name="RecherchePositionParLigne">
<input wsam:Action="http://webService/WebServicesSTR/RecherchePositionParLigneRequest" message="tns:RecherchePositionParLigne"/>
<output wsam:Action="http://webService/WebServicesSTR/RecherchePositionParLigneResponse" message="tns:RecherchePositionParLigneResponse"/>
</operation>
<operation name="RechercheFicheHoraireParLignePeriode">
<input wsam:Action="http://webService/WebServicesSTR/RechercheFicheHoraireParLignePeriodeRequest" message="tns:RechercheFicheHoraireParLignePeriode"/>
<output wsam:Action="http://webService/WebServicesSTR/RechercheFicheHoraireParLignePeriodeResponse" message="tns:RechercheFicheHoraireParLignePeriodeResponse"/>
</operation>
<operation name="RecherchePlagesHorairesParFicheHoraire">
<input wsam:Action="http://webService/WebServicesSTR/RecherchePlagesHorairesParFicheHoraireRequest" message="tns:RecherchePlagesHorairesParFicheHoraire"/>
<output wsam:Action="http://webService/WebServicesSTR/RecherchePlagesHorairesParFicheHoraireResponse" message="tns:RecherchePlagesHorairesParFicheHoraireResponse"/>
</operation>
<operation name="RechercheLigneSTRParIdentifiant">
<input wsam:Action="http://webService/WebServicesSTR/RechercheLigneSTRParIdentifiantRequest" message="tns:RechercheLigneSTRParIdentifiant"/>
<output wsam:Action="http://webService/WebServicesSTR/RechercheLigneSTRParIdentifiantResponse" message="tns:RechercheLigneSTRParIdentifiantResponse"/>
</operation>
<operation name="listeLignesSTR">
<input wsam:Action="http://webService/WebServicesSTR/listeLignesSTRRequest" message="tns:listeLignesSTR"/>
<output wsam:Action="http://webService/WebServicesSTR/listeLignesSTRResponse" message="tns:listeLignesSTRResponse"/>
</operation>
<operation name="InvokePositionArretLigne">
<input wsam:Action="http://webService/WebServicesSTR/InvokePositionArretLigneRequest" message="tns:InvokePositionArretLigne"/>
<output wsam:Action="http://webService/WebServicesSTR/InvokePositionArretLigneResponse" message="tns:InvokePositionArretLigneResponse"/>
</operation>
<operation name="InvokePlageHoraire">
<input wsam:Action="http://webService/WebServicesSTR/InvokePlageHoraireRequest" message="tns:InvokePlageHoraire"/>
<output wsam:Action="http://webService/WebServicesSTR/InvokePlageHoraireResponse" message="tns:InvokePlageHoraireResponse"/>
</operation>
<operation name="InvokeFicheHoraire">
<input wsam:Action="http://webService/WebServicesSTR/InvokeFicheHoraireRequest" message="tns:InvokeFicheHoraire"/>
<output wsam:Action="http://webService/WebServicesSTR/InvokeFicheHoraireResponse" message="tns:InvokeFicheHoraireResponse"/>
</operation>
<operation name="InvokeReduction">
<input wsam:Action="http://webService/WebServicesSTR/InvokeReductionRequest" message="tns:InvokeReduction"/>
<output wsam:Action="http://webService/WebServicesSTR/InvokeReductionResponse" message="tns:InvokeReductionResponse"/>
</operation>
<operation name="RechercheTrajetParLigneID">
<input wsam:Action="http://webService/WebServicesSTR/RechercheTrajetParLigneIDRequest" message="tns:RechercheTrajetParLigneID"/>
<output wsam:Action="http://webService/WebServicesSTR/RechercheTrajetParLigneIDResponse" message="tns:RechercheTrajetParLigneIDResponse"/>
</operation>
<operation name="afficherListeArretsSTR">
<input wsam:Action="http://webService/WebServicesSTR/afficherListeArretsSTRRequest" message="tns:afficherListeArretsSTR"/>
<output wsam:Action="http://webService/WebServicesSTR/afficherListeArretsSTRResponse" message="tns:afficherListeArretsSTRResponse"/>
</operation>
<operation name="RecherchePositionSTRParArret">
<input wsam:Action="http://webService/WebServicesSTR/RecherchePositionSTRParArretRequest" message="tns:RecherchePositionSTRParArret"/>
<output wsam:Action="http://webService/WebServicesSTR/RecherchePositionSTRParArretResponse" message="tns:RecherchePositionSTRParArretResponse"/>
</operation>
<operation name="RechercheArretSTRParNom">
<input wsam:Action="http://webService/WebServicesSTR/RechercheArretSTRParNomRequest" message="tns:RechercheArretSTRParNom"/>
<output wsam:Action="http://webService/WebServicesSTR/RechercheArretSTRParNomResponse" message="tns:RechercheArretSTRParNomResponse"/>
</operation>
</portType>
<binding name="WebServicesSTRPortBinding" type="tns:WebServicesSTR">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="InvokeTrajet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InvokeLigne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RechercheTrajetParLigne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TarifBaseParArrets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TarifMensuelParArrets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TarifHebdomadaireParArrets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RechercheLigneParId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="afficherListeReductions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecherchePositionParLigne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RechercheFicheHoraireParLignePeriode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecherchePlagesHorairesParFicheHoraire">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RechercheLigneSTRParIdentifiant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listeLignesSTR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InvokePositionArretLigne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InvokePlageHoraire">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InvokeFicheHoraire">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InvokeReduction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RechercheTrajetParLigneID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="afficherListeArretsSTR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecherchePositionSTRParArret">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RechercheArretSTRParNom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="webServiceSTR">
<port name="WebServicesSTRPort" binding="tns:WebServicesSTRPortBinding">
<soap:address location="http://localhost:8080/webServiceSTR/WebServicesSTR"/>
</port>
</service>
</definitions>